@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* Global section */
a{
    text-decoration: none;
}
.all-section-paragraph{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
}
/* Card section button design */

.card-section-btn{
    border: none;
}
.card-section-btn a:hover{
    opacity: 0.8;
    transition: 0.4s;
}
.card-section-btn a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-decoration-line: underline;
} 
/* card section heading tittle */
.card-header-section{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    margin-bottom: 8px;
}
/* card section p tag design for margin */
.card-p-section{
    margin-bottom: 24px;
}
/* Global section end */
/* banner section start */
.banner-section{
    background-image: url(./assets/Hero-bg.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 1440px; */
    min-height: 652px;
}
.banner-content{
    margin: 0 auto;
    width: 998px;
    min-height: 582px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.banner-content-image{
    margin-top: 26px;
}
.banner-content-title{
    margin: 32px 0;
}
.banner-content-title h1{
    /* margin: 24px 0; */
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;}

.banner-content-title p{
    text-align: center;
    margin:24px 73px auto ;
}
 .header-button a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
 .header-button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
    padding: 21px 24px 21px 24px;
    margin-bottom: 44px;
}
.header-button:hover{
    opacity: 0.9;
    transition: 0.5s;
    cursor: pointer;
}
/* banner section end */


/* section-part-01 start */

.web-dev-section .why-wev-dev-section{
    width: 1140px;
    height: 1395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 97px;
    margin: 0 auto;

}

.web-dev-section .why-web-dev-title h1{
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.web-dev-section .why-web-dev-title p{
text-align: center;
margin: 24px auto 48px auto ;
}
.web-dev-section .coding-section{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin-bottom: 32px;
    gap: 80px;
}

.web-dev-section .coding-section .coding-section-title h3{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.web-dev-section .coding-section .coding-section-title p{
margin-top: 16px;
}
.web-dev-section .coding-section .section-button{
    padding: 12px 20px 12px 20px;
    margin-top: 32px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.web-dev-section .coding-section .section-button:hover{
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}
.web-dev-section .coding-section .section-button a{
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 500;
line-height: 23px;
}
/* section 01 end */
/* section 02 start */
.my-inspiration-section {
    width: 1140px;
    height: 777px;
    margin: 50px auto 120px auto;
}
.my-inspiration-section .my-inspiration-section-title h3{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.my-inspiration-section .my-inspiration-section-title p{
    text-align: center;
    margin:auto 144px 48px;
}
.my-inspiration-section .my-inspiration-video{
    padding: 32px;
}
/* section 02 end */
/* section 03 start */
.current-target-section{
    margin: 149px auto 112px auto;
    width: 1140px;
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.current-target-section .current-target-tittle h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.current-target-section .current-target-tittle p{
    text-align: center;
    margin: auto 142px 48px;
}
.current-target-section .card-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.current-target-section .card-section .box-section{
    padding: 40px;
}
.current-target-section .card-section .box-section h4{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    margin-bottom: 8px;
}
.current-target-section .card-section .html-section{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.current-target-section .card-section .css-section{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.current-target-section .card-section .javascript-section{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/* section 03 end here */
/*  */
/* github live server link :https://shahadat-hossen-008.github.io/Assignment-01/ */